.logo-wrapper {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1) !important;
}
.nav-item .nav-link .fa {
  margin-right: 15px;
}
.side-nav .logo-wrapper img {
  height: 100px;
  padding: 0px !important;
  margin: -10px auto 0px;
}
